/**
 * Cover
 */
.has-cover {
	position: relative;
}

.cover-img {
	background-position: center center;
	bottom: 0;
	left: 0;
    position: absolute;
    background-size: 100% 60% !important;
	right: 0;
	top: 0;
}



